<!-- <div class = "container">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form action="" method="post" name="Login_Form" class="form-signin">       
                <h3 class="form-signin-heading">Login Interface</h3>
                  <hr class="colorgraph"><br>
                  
                  <input type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" />
                  <input type="password" class="form-control" name="Password" placeholder="Password" required=""/>     		  
                 
                  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>  			
            </form>			
        </div>
    </div> -->

	
	
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-34">
						Account Login
					</span>
					
					<div class="wrap-input100  validate-input m-b-20" data-validate="Type user name">
						<input id="first-name" class="input100" type="text" name="username" placeholder="User name">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100  validate-input m-b-20" data-validate="Type password">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Sign in
						</button>
					</div>

					<div class="w-full text-center p-t-27 p-b-30">
						<span class="txt1">
							Forgot
						</span>

						<a href="#" class="txt2">
							User name / password?
						</a>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('../../../assets/images/abc.jpg');"></div>
			</div>
		</div>

		
	