<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="nav nav-pills mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/">SignUp <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/getdetails">Send TeamCard</a>
            </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav> -->
<div class="container-fluid">

    <router-outlet></router-outlet>
</div>
