<div class="container">

  <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <h2 class="form-getdetails-heading">Send TeamCard Interface</h2>
      <form (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm" role="form">
        
        <hr class="colorgraph">
        <!-- <div class="row"> -->
          <!-- <div class="col-xs-12 col-sm-6 col-md-6"> -->
            <!-- <div class="form-group">
              <input ngModel type="text" name="faculty" id="faculty" class="form-control input-lg" placeholder="Faculty" tabindex="1">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <input ngModel type="text" name="year" id="year" class="form-control input-lg" placeholder="Year" tabindex="2">
            </div>
          </div>
        </div>
        <div class="form-group">
          <input ngModel type="text" name="name" id="name" class="form-control input-lg" placeholder="Name with Initials" tabindex="3">
        </div>
        <div class="form-group">
          <input ngModel type="text" name="index_no" id="index_no" class="form-control input-lg" placeholder="Index No:" tabindex="3">
        </div>
        <div class="form-group">
          <input ngModel type="text" name="registration_no" id="registration_no" class="form-control input-lg" placeholder="Registration No:" tabindex="4">
        </div> -->
        <div class="form-group">
          <input ngModel type="text" name="contact_no" id="contact_no" class="form-control input-lg" placeholder="Contact No:" tabindex="4">
        </div>
        
        
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-12 col-md-6"><input type="submit" value="Create & Send" class="btn btn-primary btn-block btn-lg" tabindex="10"></div>
         
        </div>
      </form>
    </div>
  </div>
</div>
